@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-family: "Poppins", sans-serif;
    background-color: #FDFEFF;
}

/* Header style */

.container{
    max-width: 120rem;
    margin: 0 auto;
    margin-top: 3rem;
}

header{
    margin-bottom: 10rem;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10rem; */
}

.logo{
    width: 11rem;
}

.grow-list{
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 5rem;
}

.list{
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 5rem;
}

.list-item{
    font-size: 1.6rem;
    color: #79797a;
    font-weight: 500;
}

.black{
    color: #000;
    font-weight: 500;
}

.button-group button{
display: block;
width: 16rem;
padding: 1.5rem 2.5rem;
font-size: 1.6rem;
background-color: #fff;
border:2px solid lightskyblue;
color: #3493F1;
font-weight: 600;
border-radius: 5px;
} 
/* .......................................................................................................  */
.hero-section{
    gap: 10rem;
}
.testing{
    grid-column: 2/3;
}
.testing-img{
    grid-column: 1/2;
    grid-row: 1/2;
}


/* .........................................  */
/* Services style  */
/* ..............................................  */
.service{
    margin-bottom: 5rem;
}


.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;
}

.services-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #fff;
}

.icon{
    font-size: 6rem;
     color: #3493F1;
}

.services-wrapper h2{
    font-size: 2rem;
    color: #14263F;
}
.services-wrapper p{
    font-size: 1.2rem;
    color: #79797a;
}


/* Pricing Container Style */
.pricing-container{
    max-width: 100vw;
    background-color: #079BF2;
}